html,
body {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* HELPER CLASSES */
.rounded {
    border-radius: 50%;
    overflow: hidden;
}

.silent-link {
    color: black;
    text-decoration: none;
}

/* BUTTONS */

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    background-color: whitesmoke;
    user-select: none;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 1px cadetblue;
}
.btn:active {
    outline: none;
    opacity: 0.4;
}
.btn:hover {
    cursor: pointer;
}

.btn * {
    font-size: 1.7em;
}

/* POPOVER */
.popover {
    position: relative;
}

.popover-triangle {
    position: absolute;
    top: -15px;
    left: 8%;
    z-index: 2;

    border: 8px solid transparent;
    border-bottom-color: white;
}

.popover-triangle-backdrop {
    position: absolute;
    top: -16px;
    left: 8%;
    z-index: 1;

    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.popover-body {
    display: none;
    position: absolute;
    top: 140%;
    left: 0;
    z-index: 2;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 8px gray;
}

/* MENU */
ul.menu {
    font-size: 0.9em;
    margin: 0;
    padding: 10px 0;
}

.menu li {
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
}

li.menu-item {
    padding: 3px 20px;
}

li.menu-item:hover {
    background: gray;
    color: white;
}

li.menu-item:hover * {
    color: white !important;
}

li.menu-separator {
    height: 1;
    margin: 5px 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
}

/* INPUT */
.text-input {
    width: 100%;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 25px;

    font-size: 1em;
}

.text-input::placeholder {
    color: silver;
    font-weight: 100;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    position: absolute;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
