@media screen and (max-width: 600px) {
    #chats-header .banner {
        display: none !important;
    }

    #chats-header #account-settings-button {
        display: none !important;
    }

    .chats-container {
        width: 80px !important;
        min-width: initial !important;
    }

    .chats {
        overflow-x: hidden;
    }

    .chat-container .chat-summary,
    .chat-container .chat-property,
    .search-box {
        display: none !important;
    }
}
