@media screen and (max-width: 765px) {
    #chats-header .banner {
        display: none !important;
    }

    #chats-header #account-settings-button {
        display: none !important;
    }

    .chats-container {
        width: 80px !important;
        min-width: initial !important;
    }

    .chats {
        overflow-x: hidden;
    }

    .chat-container .chat-summary,
    .chat-container .chat-property,
    .search-box {
        display: none !important;
    }

    .messenger-composer #input-media {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        transform: translateY(0);

        background: #fafafa;
    }

    .messenger-composer #input-media.expanded {
        visibility: visible;
        transform: translateY(-100%);
        width: auto !important;
    }
}
