#conversation-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.conversation-time {
    text-align: center;

    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4);
    margin: 30px 0 10px 0;
}

.message-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 15px 30px 0px 15px;
    box-sizing: border-box;
}

.message-container.message-sender {
    justify-content: flex-end;
    align-self: flex-end;
}

.message-container .recipient-avatar {
    width: 28px;
    height: 28px;
    margin-left: 10px;
    flex: 0 0 28px;

    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.message-container .recipient-avatar img {
    width: 100%;
    height: 100%;
}

.message-container .message-group {
    width: 100%;
}

.message-container .message {
    display: flex;
    align-items: center;
}

.message-sender .message {
    flex-direction: row-reverse;
}

.message-container .message img {
    max-width: 250px;
}

.message .message-content {
    padding: 5px 15px;
    margin-top: 2px;
    max-width: 60%;

    overflow: hidden;
    background: #f1f0f0;
}

.message-container .message.img-message .message-content {
    padding: 0;
    cursor: pointer;
}

/* RECIPIENT MESSAGE */
.message-container.message-recipient .message-content {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.message-container.message-recipient .message:first-child .message-content {
    border-top-left-radius: 15px;
}
.message-container.message-recipient .message:last-child .message-content {
    border-bottom-left-radius: 15px;
}

/* SENDER MESSAGE */
.message-container.message-sender .message-content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #0099ff;
    color: white;
}

.message-container.message-sender .message:first-child .message-content {
    border-top-right-radius: 15px;
}
.message-container.message-sender .message:last-child .message-content {
    border-bottom-right-radius: 15px;
}

.message .message-actions {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.message-sender .message .message-actions {
    flex-direction: row-reverse;
}

.message-actions .secondary-action {
    background: transparent;
    display: none;

    color: rgba(0, 0, 0, 0.4);
}

.message-actions .secondary-action:hover {
    color: black;
}

.message-action {
    margin: 2px;
}

.message-action i {
    font-size: 1.3em;
}

.message:hover .message-action {
    display: block;
}

/* SEEN INDICATORS */
.seen-indicators {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -10px;
    height: 20px;
    padding: 0 10px;
}

.seen-indicators .seen-indicator {
    width: 20px;
    height: 20px;
}

.seen-indicators .seen-indicator img {
    width: 100%;
    height: 100%;
}
