/* HELPER */
.composer-btn {
    background: transparent;
    color: #005fff;
}
.composer-btn i {
    font-size: 1.7em;
}

/* MESSENGER COMPOSER */
.messenger-composer {
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.messenger-composer #expand-media-button {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: white;
    z-index: 3;
}

.messenger-composer #expand-media-button.expanded {
    color: gray;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.messenger-composer #input-media {
    display: flex;
    overflow: hidden;
    width: 0px;
    transition: all 0.3s cubic-bezier(.5, 0, .4, 1);
    -webkit-transition: all 0.3s cubic-bezier(.5, 0, .4, 1);
}

.messenger-composer #input-media.expanded {
    width: 216px;
}

#input-media .input-medium {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
}

.messenger-composer .input-wrapper {
    position: relative;
    flex-grow: 1;
    margin: 0 10px;
}

.messenger-composer .input-wrapper .emoji-button {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.messenger-composer .input-wrapper .text-input {
    padding-right: 40px;
}
