#messenger-menu {
    display: none;
    border-left: 1px solid #e1e1e1;
}

#messenger-menu.messenger-menu-opened {
    display: block;
}

/* CONVERSATION INFO */
.conversation-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.conversation-info .conversation-avatar {
    flex: 0 0 100px;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    overflow: hidden;
}

.conversation-info .conversation-avatar img {
    width: 100%;
    height: 100%;
}

.conversation-info .conversation-name {
    font-size: 1.05em;
}

.conversation-info .conversation-name a {
    text-decoration: none;
    color: inherit;
}

.conversation-info .conversation-name a:hover {
    text-decoration: underline;
}

/* DROPDOWN MENUS */
