#messenger-menu {
    display: none;
    border-left: 1px solid #e1e1e1;
}

#messenger-menu.messenger-menu-opened {
    display: block;
}

/* CONVERSATION INFO */
.conversation-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.conversation-info .conversation-avatar {
    flex: 0 0 100px;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    overflow: hidden;
}

.conversation-info .conversation-avatar img {
    width: 100%;
    height: 100%;
}

.conversation-info .conversation-name {
    font-size: 1.05em;
}

.conversation-info .conversation-name a {
    text-decoration: none;
    color: inherit;
}

.conversation-info .conversation-name a:hover {
    text-decoration: underline;
}

/* DROPDOWN MENUS */
.messenger-dropdown-menu .dropdown-toggle {
    padding: 15px 10px;
    border-top: 1px solid #e1e1e1;

    color: rgba(0, 0, 0, 0.34);
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

.messenger-dropdown-menu .dropdown-toggle:hover {
    background-color: rgba(220, 220, 220, 0.363);
    cursor: pointer;
}

.dropdown-items.menu-gallery.showed {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-items.menu-gallery .dropdown-item {
    display: inline-block;
    padding: 2px;
    flex: 1 1 80px;
    width: 80px;
    height: 80px;
}
.dropdown-items.menu-gallery .dropdown-item img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


.messenger-dropdown-menu .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 10px;
    margin: 0 1px;

    font-size: 0.9em;
    user-select: none;
    cursor: pointer;
}

.messenger-dropdown-menu .dropdown-item:active {
    outline: 2px solid #78beff;
}

.dropdown-item .menu-caption-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
}

.dropdown-item .menu-sub-caption {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
    color: #b3b3a9;
}

.dropdown-item .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.dropdown-item .menu-icon i {
    font-size: 1.3em;
}

.dropdown-item.controller-item {
    justify-content: center;
    height: 30px;
}

.dropdown-item .shared-file-link {
    display: block;
    text-decoration: none;
    color: rgb(240, 29, 106);
}

.shared-file-link::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
    background-image: url(../../assets/img/filetypes.png);
}

.filetype-word::before {
    background-repeat: no-repeat;
    background-size: 122px 352px;
    background-position: -90px -290px;
}

.filetype-pdf::before {
    background-repeat: no-repeat;
    background-size: 122px 352px;
    background-position: -54px -272px;
}

.filetype-other::before {
    background-repeat: no-repeat;
    background-size: 122px 352px;
    background-position: -18px -272px;
}
